html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes fade {
  from {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.primary {
  width: 100%;
  padding: 15px;
  background-color: #e60012;
  cursor: pointer;
  color: #ffffff;
  border: none;
  font-family: "Bree Serif";
  font-size: 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 0.7em;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.primary:hover {
  -webkit-animation: bounce 0.5s ease-out;
          animation: bounce 0.5s ease-out;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  75% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  75% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.slideShowItem {
  margin-right: 2em;
}
.slideShowItem img {
  width: 180px;
  height: 120px;
  border-radius: 10px;
}
.slideShowItem p {
  margin-block: 1em 0.7em;
}
.slideShowItem h2 {
  margin-bottom: 0.7em;
  font-size: 1.5em;
}

h2 {
  font-size: 2em;
  font-family: "Bree Serif";
  color: #434242;
}

p {
  font-size: 1.1em;
  font-family: "Open Sans";
}

header {
  position: relative;
}

.topNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.topNav img {
  width: 90px;
  height: 50px;
}
.topNav ul {
  display: none;
}
.topNav form {
  display: none;
}
.topNav .rightNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}
.topNav .rightNav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2em;
}
.topNav .rightNav div:hover {
  color: #e60012;
}
.topNav .rightNav span {
  font-size: 1.1em;
  font-family: "Open Sans";
  color: #434242;
  font-weight: 900;
  cursor: pointer;
}
.topNav .hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
}
.topNav .hamburger .lineOne,
.topNav .hamburger .lineTwo,
.topNav .hamburger .lineThree {
  width: 20px;
  height: 4px;
  background-color: #434242;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.topNav .hamburger.open .lineOne {
  -webkit-transform: rotate(45deg) translateY(10px);
          transform: rotate(45deg) translateY(10px);
}
.topNav .hamburger.open .lineTwo {
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
  opacity: 0;
}
.topNav .hamburger.open .lineThree {
  -webkit-transform: rotate(-45deg) translateY(-10px);
          transform: rotate(-45deg) translateY(-10px);
}

aside {
  opacity: 0;
  width: 300px;
  height: 800px;
  background-color: #efefef;
  position: absolute;
  right: 0;
  z-index: 2;
  color: #434242;
  -webkit-transform: translateX(3000px);
          transform: translateX(3000px);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
aside nav {
  padding: 10px;
}
aside ion-icon {
  font-size: 2em;
}
aside li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5em;
  cursor: pointer;
}
aside li:hover {
  color: #e60012;
}
aside div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
aside a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-family: "Bree Serif";
  color: #434242;
}
aside a:hover {
  color: #e60012;
}
aside .gamesNav {
  display: none;
  -webkit-animation: scrollDown 0.5s ease-in-out;
          animation: scrollDown 0.5s ease-in-out;
}
@-webkit-keyframes scrollDown {
  from {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes scrollDown {
  from {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
aside #gameCursorBar, aside #hardwareCursorBar {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
aside .hardwareCursorBar__open, aside .gameCursorBar__open {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
aside .gamesNav.gamesNav__open {
  display: block;
  opacity: 1;
}
aside .gamesNav.gamesNav__open ul {
  display: -ms-grid;
  display: grid;
  gap: 1em;
  -ms-grid-columns: 1fr 1em 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 100px 1em 100px 1em 100px;
  grid-template-rows: repeat(3, 100px);
  margin-bottom: 1em;
}
aside .gamesNav.gamesNav__open ul > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
aside .gamesNav.gamesNav__open ul > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
aside .gamesNav.gamesNav__open ul > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
aside .gamesNav.gamesNav__open ul > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
aside .gamesNav.gamesNav__open ul > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
aside .gamesNav.gamesNav__open ul > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
aside .gamesNav.gamesNav__open ul li {
  margin: 0 auto;
}
aside .gamesNav.gamesNav__open ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
aside .gamesNav.gamesNav__open ul button {
  margin: 0 auto;
  padding: 20px;
  height: 70px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  border: 1px solid #d6f0fa;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
aside .gamesNav.gamesNav__open ul button:hover {
  background-color: #e60012;
}
aside .gamesNav.gamesNav__open ul button:hover ion-icon {
  color: #ffffff;
}
aside .hardwareNav {
  display: none;
  -webkit-animation: scrollDown 0.5s ease-in-out;
          animation: scrollDown 0.5s ease-in-out;
}
aside .hardwareNav ul {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-rows: 100px 10px 100px;
  grid-template-rows: 100px 100px;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
aside .hardwareNav ul > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
aside .hardwareNav ul > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
aside .hardwareNav ul > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
aside .hardwareNav ul > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
aside .hardwareNav li {
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  margin-top: 0.5em;
}
aside .hardwareNav li:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}
aside .hardwareNav a, aside .hardwareNav button {
  width: 100%;
}
aside .hardwareNav button {
  margin-bottom: 0.8em;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #d6f0fa;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
aside .hardwareNav button:hover {
  background-color: #e60012;
}
aside .hardwareNav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
aside .hardwareNav .controller, aside .hardwareNav .amiibo {
  width: 60px;
  height: 60px;
}
aside .hardwareNav.hardwareNav__open {
  display: block;
}

aside.isOpen {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.bottomNav {
  display: none;
}

.gameNav {
  display: none;
}

.hardwareNav {
  display: none;
}

.heroContainer {
  width: 100%;
}
.heroContainer img {
  width: 100%;
}

.heroData {
  padding: 20px;
}
.heroData .console {
  border-bottom: 2px solid #e60012;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  width: 40%;
}
.heroData p {
  margin-bottom: 0.7em;
}
.heroData h1 {
  font-family: "Bree Serif";
  color: #434242;
  font-size: 2em;
  margin-bottom: 0.7em;
}
.heroData h2 {
  margin-bottom: 0.7em;
}
.heroData div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  margin-bottom: 0.7em;
}
.heroData div img {
  width: 30px;
  height: 30px;
}
.heroData div .coinEligible {
  margin-bottom: 0;
  color: black;
  font-weight: 400;
  font-family: "Open Sans";
}
.heroData div .coinEligible:hover {
  text-decoration: underline;
}
.heroData div ion-icon {
  font-size: 1.7em;
}
.heroData div ion-icon, .heroData div a {
  color: #e60012;
  cursor: pointer;
}
.heroData div a {
  font-weight: 900;
}
.heroData div a:hover {
  text-decoration: underline;
}

.modalImage {
  display: none;
  width: 100%;
  height: 500px;
  position: absolute;
  z-index: 3;
}
.modalImage .modalHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  z-index: 999;
}
.modalImage .modalNumber {
  font-size: 1.5em;
  color: white;
}
.modalImage .modalRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-right: 10px;
}
.modalImage .modalRight ion-icon {
  font-size: 1.5em;
  color: white;
}
.modalImage .modal-content {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
}
.modalImage .slides-images {
  display: none;
  position: absolute;
  top: 30%;
  width: 100%;
}
.modalImage .slides-images img {
  width: 100%;
}

.modalImage__open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  height: 80vh;
}

.hero__images {
  width: 100%;
  background-color: #d6f0fa;
  margin-bottom: 4em;
}
.hero__images img {
  width: 100%;
  height: 100%;
  border: 1px solid #0b2b6b;
  cursor: pointer;
}
.hero__images img:hover {
  opacity: 0.8;
}
.hero__images .gridWrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 5px 50%;
  grid-template-columns: 50% 50%;
  -ms-grid-rows: 2fr 5px 100% 5px 100%;
  grid-template-rows: 2fr 100% 100%;
  padding: 20px;
  gap: 5px;
}
.hero__images .gridWrap > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.hero__images .gridWrap > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.hero__images .gridWrap > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.hero__images .gridWrap > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.hero__images .gridWrap > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.hero__images .gridWrap > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.hero__images .firstImage {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: -2;
  grid-column-end: -1;
}

.heroDescription {
  padding: 20px;
  margin-bottom: 4em;
}
.heroDescription h2, .heroDescription p {
  margin-bottom: 1em;
}
.heroDescription p {
  line-height: 1.5em;
}
.heroDescription .btn_explore {
  font-size: 1.1em;
  width: 300px;
}

.gameDetail {
  padding: 20px;
}
.gameDetail .flex__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gameDetail .flex__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1em;
  padding: 15px 10px;
  gap: 0.5em;
}
.gameDetail .flex__item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gameDetail .flex__item div p, .gameDetail .flex__item div h2 {
  margin-left: 0;
}
.gameDetail .flex__item div h2 {
  margin-bottom: 0.5em;
}
@media screen and (min-width: 21.875em) {
  .gameDetail .flex__item div h2 {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 21.875em) {
  .gameDetail .flex__item div p {
    margin-left: 0.5em;
  }
}
@media screen and (min-width: 21.875em) {
  .gameDetail .flex__item div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 21.875em) {
  .gameDetail .flex__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.gameDetail ion-icon {
  font-size: 2em;
}
.gameDetail h2 {
  margin-left: 1em;
  font-size: 1.5em;
}
.gameDetail p {
  margin-left: 3em;
  color: #434242;
}
.gameDetail .game_support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.gameDetail .language {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gameDetail .language ion-icon {
  margin-right: 1em;
}
.gameDetail dt {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "Bree Serif";
  color: #434242;
  font-size: 1.5em;
  margin-bottom: 0.6em;
}
.gameDetail dd {
  display: inline;
  font-family: "Open Sans";
  font-size: 1.1em;
  margin-left: 0;
}
@media screen and (min-width: 21.875em) {
  .gameDetail dd {
    margin-left: 3em;
  }
}
.gameDetail .modeWrap {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 1em;
  margin-top: 2em;
  width: 100%;
}
.gameDetail .modeWrap div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gameDetail .modeWrap div p {
  margin-left: 0;
}
.gameDetail .modeWrap img {
  width: 50px;
  height: 50px;
}
.gameDetail .notice {
  font-size: 0.8em;
  margin-top: 1.5em;
  line-height: 1.5em;
  margin-left: 0;
}
.gameDetail a {
  text-decoration: underline;
  color: #e60012;
}
.gameDetail .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-inline: 30px;
}
.gameDetail .innerWrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
}
.gameDetail .innerWrap div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gameDetail .innerWrap img {
  height: 100px;
}
.gameDetail .innerWrap p {
  margin-left: 0.3em;
  font-size: 0.8em;
  min-width: 20ch;
  padding-bottom: 10px;
}
.gameDetail .support {
  padding: 20px;
}
.gameDetail .support img {
  width: 200px;
  height: 100px;
}
.gameDetail .support p {
  margin-left: 0;
}
.gameDetail .support a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #434242;
  margin-top: 2em;
  text-decoration: none;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.gameDetail .support a:hover {
  text-decoration: underline;
}
.gameDetail .support h2 {
  margin-top: 2em;
  margin-left: 0;
}
.gameDetail .support .buttonWrap {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 21.875em) {
  .gameDetail .support .buttonWrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.gameDetail .support .buttonWrap button {
  margin-bottom: 0.7em;
}
@media screen and (min-width: 21.875em) {
  .gameDetail .support .buttonWrap button {
    margin-bottom: 0;
  }
}
.gameDetail .terms {
  margin-top: 4em;
  border-bottom: 1px solid #434242;
  padding-bottom: 4em;
}
.gameDetail .terms p {
  margin-left: 0;
  margin-bottom: 1em;
  font-size: 0.8em;
}

.slideshow-bottom-container {
  padding: 20px;
  position: relative;
  margin-bottom: 20em;
}
.slideshow-bottom-container h2 {
  font-size: 1.7em;
  margin-bottom: 2em;
}
.slideshow-bottom-container .slideshow-bottom-wrap {
  position: absolute;
}
.slideshow-bottom-container .slideShowItem img {
  width: 150px;
  height: 100px;
}
.slideshow-bottom-container .slideShowItem h2 {
  margin-bottom: 0.7em;
  font-size: 1.1em;
}
.slideshow-bottom-container .slideShowItem li {
  width: 200px;
}

.recent-view-wrap {
  padding: 20px;
}
.recent-view-wrap h2 {
  font-size: 1.7em;
  margin-bottom: 2em;
}
.recent-view-wrap .recentView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
.recent-view-wrap .recentView p, .recent-view-wrap .recentView h2 {
  text-align: left;
}
.recent-view-wrap .recentView h2 {
  margin-bottom: 0.7em;
}

footer .footerNavItem {
  cursor: pointer;
}
footer .footerList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #DFF5F3;
  padding: 20px;
  border-top: 1px solid #434242;
  cursor: pointer;
}
footer .region {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.5em;
}
footer h3, footer a {
  color: #0b2b6b;
  font-family: "Zen Old Mincho";
  font-weight: 900;
  font-size: 1.5em;
}
footer ion-icon {
  font-size: 2em;
  color: #0b2b6b;
}
footer .hiddenNav {
  display: none;
}
footer .tabletFooterWrap {
  display: none;
}
footer .desktopFooter {
  display: none;
}
footer .bottomPart {
  background-color: #07403B;
  color: #5CC2BA;
  padding: 20px;
}
footer .bottomPart .linkWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1em;
}
footer .bottomPart a {
  font-size: 1.1em;
  color: #5CC2BA;
}
footer .bottomPart a:hover {
  text-decoration: underline;
}
footer .bottomPart img {
  width: 70px;
  height: 100px;
}
footer .bottomPart .socialMediaWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
footer .bottomPart .facebook,
footer .bottomPart .twitter,
footer .bottomPart .instagram,
footer .bottomPart .youtube {
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}
footer .bottomPart ion-icon {
  color: #ffffff;
}
footer .bottomPart .facebook {
  background-color: #09B6EE;
}
footer .bottomPart .instagram {
  background-color: #F9388D;
}
footer .bottomPart .twitter {
  background-color: #09B6EE;
}
footer .bottomPart .youtube {
  background-color: #EC0E2C;
}
footer .bottomPart p {
  margin-top: 1em;
  font-size: 0.7em;
  text-align: center;
}

.sticky {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(5, 1fr);
  padding: 10px 0;
  position: sticky;
  bottom: 0;
  background-color: #ffffff;
  gap: 10px;
}
.sticky .sticky_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.sticky ion-icon, .sticky p {
  color: #434242;
}
.sticky p {
  max-width: 10ch;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}
.sticky .search {
  padding: 8px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #e60012;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
  bottom: 20px;
}
.sticky .search ion-icon {
  color: #ffffff;
  font-size: 3em;
}