@import './root.scss';
@import './variable.scss';
@import './slideshow.scss';
@import './utility.scss';

h2 {
    font-size: $headerTwo;
    font-family: $headerFont;
    color : $darkBrown;
}

p {
    font-size: $paragraphs;
    font-family: $paragraphsFont;
}

.topNav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width : 90px;
        height : 50px;
    }

    ul {
        display: none;
    }

    form {
        display: none;
    }

    .rightNav {
        display: flex;
        gap : 1em;

        div {
            display: flex;
            align-items: center;
            gap : .4em;

            &:hover {
                color : $red;
            }
        }

        span {
            font-size: $paragraphs;
            font-family: $paragraphsFont;
            color : $darkBrown;
            font-weight: 900;
            cursor: pointer;
        }

    }

    
    .hamburger {
        font-size: 2em;
        margin-right: .8em;
        cursor: pointer;
    }
}

aside {
    display: none;
}

.bottomNav {
    display: none;
}

.gameNav {
    display: none;
}
.hardwareNav {
    display: none;
}



// main section
.heroContainer {
    width : 100%;

    img {
        width: 100%;
    }
}

.heroData {
    padding : 20px;

    .console {
        border-bottom: 2px solid $red;
        margin-bottom: 1.5em;
        padding-bottom: 1em;
        width: 40%;
    }

    p {
        margin-bottom: .7em;
    }

    h1 {
        font-family: $headerFont;
        color : $darkBrown;
        font-size: $headerTwo;
        margin-bottom: .7em;
    }

    h2 {
        margin-bottom: .7em;
    }

    div {
        display: flex;
        align-items: center;
        gap : .5em;
        margin-bottom: .7em;
        
        img {
            width : 30px;
            height : 30px;
        }
        p {
            margin-bottom: 0;
        }

        ion-icon {
            font-size: 1.7em;
        }

        ion-icon, a {
            color : $red;
            cursor: pointer;
        }

        a {
            font-weight: 900;
        }
    }
}

.hero__images {
    width : 100%;
    background-color: $lightBlue;
    margin-bottom: 4em;

    img {
        width : 100%;
        height : 100%;
        border: 1px solid $darkBlue;
    }

    .gridWrap {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 2fr 100% 100%;
        padding : 20px;
        gap : 10px;
    }

    .firstImage {
        grid-column-start: 1;
        grid-column-end: -1;
        width : 100%;
    }
}

.heroDescription {
    padding : 20px;
    margin-bottom: 4em;
    
    h2,p {
        margin-bottom: 1em;
    }

    p {
        line-height: 1.5em;
    }

    .btn_explore {
        width : 350px;
    }
}

.gameDetail {
    padding : 20px;

    .flex__wrap {
        display: flex;
        flex-direction: column;
    }

    .flex__item {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        padding : 10px;
    }

    ion-icon {
        font-size : 2em;
    }

    h2 {
        margin-left: 1em;
        font-size: 1.5em;
    }

    p {
        margin-left: 3em;
        color : $darkBrown;
    }

    .game_support {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    dt {
        display: inline-flex;
    }

    dd {
        display: inline;
    }

    .modeWrap {
        display: flex;
        justify-content: space-evenly;
        gap : 1em;
        margin-top: 2em;
        width : 100%;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                margin-left: 0;
            }
        }

        img {
            width : 50px;
            height : 50px;
        }
    }

    .notice {
        font-size: .8em;
        margin-top: 1.5em ;
        line-height: 1.5em;
    }

    a {
        text-decoration: underline;
        color : $red;
    }

}