@import './root.scss';
@import './variable.scss';
@import './slideshow.scss';
@import './utility.scss';

h2 {
    font-size: $headerTwo;
    font-family: $headerFont;
    color : $darkBrown;
}

p {
    font-size: $paragraphs;
    font-family: $paragraphsFont;
}

header {
    position: relative;
}

.topNav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width : 90px;
        height : 50px;
    }

    ul {
        display: none;
    }

    form {
        display: none;
    }

    .rightNav {
        display: flex;
        gap : 1em;

        div {
            display: flex;
            align-items: center;
            gap : .2em;

            &:hover {
                color : $red;
            }
        }

        span {
            font-size: $paragraphs;
            font-family: $paragraphsFont;
            color : $darkBrown;
            font-weight: 900;
            cursor: pointer;
        }

    }

    
    .hamburger {
        display : flex;
        flex-direction: column;
        margin-right: 10px;
        

        .lineOne,
        .lineTwo,
        .lineThree {
            width: 20px;
            height: 4px;
            background-color: $darkBrown;
            transition: all .3s ease-in-out;
        }
    }

    .hamburger.open {

        .lineOne {
            transform: rotate(45deg) translateY(10px);
        };
        .lineTwo {
            transform: translateX(1000px);
            opacity: 0;
        };
        .lineThree {
            transform: rotate(-45deg) translateY(-10px);
        };
    }
}

aside {
    // display: none;
    opacity: 0;
    width : 300px;
    height : 800px;
    background-color: $lightGray;
    position: absolute;
    right : 0;
    z-index: 2;
    color : $darkBrown;
    transform: translateX(3000px);
    transition: all .8s ease-in-out;

    nav {
        padding : 10px;
    }

    ion-icon {
        font-size: 2em;
    }

    li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5em;
        cursor: pointer;
        
        &:hover {
            color : $red;
        }
    }

    div {
        display: flex;
        gap : 10px;
        align-items: center;
    }

    a {
        display: flex;
        align-items: center;
        gap : 10px;
        font-family: $headerFont;
        color: $darkBrown;

        &:hover {
            color : $red;
        }
    }

    .gamesNav {
        display: none;
        animation: scrollDown .5s ease-in-out;
    }

    @keyframes scrollDown {
        from {
            transform: translateX(1000px);
        }
        to {
            transform: translateX(0px);
        }
    }

    #gameCursorBar,#hardwareCursorBar {
        transition: all .2s ease-in-out;
    }
    .hardwareCursorBar__open,.gameCursorBar__open {
        transform: rotateZ(180deg);
    }

    .gamesNav.gamesNav__open {
        display: block;
        opacity: 1;

        ul {
            display : grid;
            gap : 1em;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, 100px);
            margin-bottom: 1em;

            li {
                margin: 0 auto;
            }

            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width : 100%;
            }

            button {
                margin: 0 auto;
                padding : 20px;
                height: 70px;
                width : 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: $white;
                border: 1px solid $lightBlue;
                border-radius: 10px;
                transition: all .3s ease-in-out;
                cursor: pointer;

                &:hover {
                    background-color: $red;

                    ion-icon {
                        color: $white;
                    }
                }
            }
        }
    }

    .hardwareNav {
        display: none;
        animation: scrollDown .5s ease-in-out;

        ul {
            display: grid;
            width : 100%;
            grid-template-rows: 100px 100px;
            grid-template-columns: 1fr 1fr;
            gap : 10px;
        }

        li {
            justify-content: unset;
            margin-top: .5em;

            &:first-child {
                grid-column: 1 / 3;
            }
        }

        a,button {
            width : 100%;
        }

        button {
            margin-bottom: .8em;
            background-color: $white;
            cursor: pointer;
            border-radius: 10px;
            border: 1px solid $lightBlue;
            transition: all .3s ease-in-out;

            &:hover {
                background-color: $red;
            }
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .controller,.amiibo {
            width : 60px;
            height : 60px;
        }
    }

    .hardwareNav.hardwareNav__open {
        display: block;
    }
    
}

aside.isOpen {
    opacity: 1;
    transform : translateX(0);

}

.bottomNav {
    display: none;
}

.gameNav {
    display: none;
}
.hardwareNav {
    display: none;
}



// main section
.heroContainer {
    width : 100%;

    img {
        width: 100%;
    }
}

.heroData {
    padding : 20px;

    .console {
        border-bottom: 2px solid $red;
        margin-bottom: 1.5em;
        padding-bottom: 1em;
        width: 40%;
    }

    p {
        margin-bottom: .7em;
    }

    h1 {
        font-family: $headerFont;
        color : $darkBrown;
        font-size: $headerTwo;
        margin-bottom: .7em;
    }

    h2 {
        margin-bottom: .7em;
    }

    div {
        display: flex;
        align-items: center;
        gap : .5em;
        margin-bottom: .7em;
        
        img {
            width : 30px;
            height : 30px;
        }
        .coinEligible {
            margin-bottom: 0;
            color : black;
            font-weight: 400;
            font-family: $paragraphsFont;

            &:hover {
                text-decoration: underline;
            }
        }

        ion-icon {
            font-size: 1.7em;
        }

        ion-icon, a {
            color : $red;
            cursor: pointer;
        }

        a {
            font-weight: 900;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.modalImage {
    display: none;
    width : 100%;
    height : 500px;
    position: absolute;
    z-index: 3;

    .modalHeader {
        display: flex;
        padding : 10px;
        width : 100%;
        justify-content: space-between;
        position: absolute;
        top: 0;
        z-index: 999;
    }

    .modalNumber {
        font-size: 1.5em;
        color : white;
    }

    .modalRight {
        display: flex;
        gap : 10px;
        margin-right: 10px;

        ion-icon {
            font-size: 1.5em;
            color: white;
        }
    }

    .modal-content {
        position: relative;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .slides-images {
        display: none;
        position: absolute;
        top : 30%;
        width: 100%;

        img {
            width : 100%;
        }
    }
}

.modalImage__open {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    height: 80vh;
}

.hero__images {
    width : 100%;
    background-color: $lightBlue;
    margin-bottom: 4em;

    img {
        width : 100%;
        height : 100%;
        border: 1px solid $darkBlue;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    .gridWrap {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 2fr 100% 100%;
        padding : 20px;
        gap : 5px;
    }

    .firstImage {
        grid-column-start: 1;
        grid-column-end: -1;
    }
}

.heroDescription {
    padding : 20px;
    margin-bottom: 4em;
    
    h2,p {
        margin-bottom: 1em;
    }

    p {
        line-height: 1.5em;
    }

    .btn_explore {
        width : 350px;
    }
}

.gameDetail {
    padding : 20px;

    .flex__wrap {
        display: flex;
        flex-direction: column;
    }

    .flex__item {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        padding : 10px;
    }

    ion-icon {
        font-size : 2em;
    }

    h2 {
        margin-left: 1em;
        font-size: 1.5em;
    }

    p {
        margin-left: 3em;
        color : $darkBrown;
    }

    .game_support {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .language {
        align-items: flex-start;

        ion-icon {
            margin-right: 1em;
        }
    }

    dt {
        display: inline-flex;
        font-family: $headerFont;
        color : $darkBrown;
        font-size: 1.5em;
        margin-bottom: .6em;
    }

    dd {
        display: inline;
        font-family: $paragraphsFont;
        font-size: $paragraphs;
        margin-left: 3em;
    }

    .modeWrap {
        display: flex;
        justify-content: space-evenly;
        gap : 1em;
        margin-top: 2em;
        width : 100%;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                margin-left: 0;
            }
        }

        img {
            width : 50px;
            height : 50px;
        }
    }

    .notice {
        font-size: .8em;
        margin-top: 1.5em ;
        line-height: 1.5em;
        margin-left: 0;
    }

    a {
        text-decoration: underline;
        color : $red;
    }

    .rating {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-inline : 30px;
    }

    .innerWrap {
        width : 50%;
        display: flex;
        align-items: center;
        margin-top: 2em ;

        img {
            height : 100px;
        }

        p {
            margin-left: .3em;
            font-size: .8em;
        }
    }

    .support {
        padding : 20px;

        img {
            width : 200px;
            height : 100px;
        }

        p {
            margin-left: 0;
        }

        a {
            display: flex;
            align-items: center;
            color : $darkBrown;
            margin-top: 2em;
            text-decoration: none;
            transition: all 1s ease-in-out;

            &:hover {
                text-decoration: underline;
            }
        }

        h2 {
            margin-top: 2em;
            margin-left: 0;
        }

        .buttonWrap {
            margin-top: 2em;
            display: flex;
            gap : 1em;
            align-items: center;
        }
    }
    .terms {
        margin-top: 4em;
        border-bottom: 1px solid $darkBrown;
        padding-bottom: 4em;
        
        p {
            margin-left: 0;
            margin-bottom: 1em;
            font-size: .8em;
        }
    }
}

// slideshow section
.slideshow-bottom-container {
    padding: 20px;

    h2 {
        font-size: 1.7em;
        margin-bottom: 2em;
    }

    .slideShowItem {

        h2 {
            margin-bottom: .7em;
        }
    }

}

// recently viewed section
.recent-view-wrap {
    padding: 20px;

    h2 {
        font-size: 1.7em;
        margin-bottom: 2em;
    }

    .recentView {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
        margin-bottom: 2em;

        p,h2 {
            text-align: left;
        }
        
        h2 {
            margin-bottom: .7em;
        }
    }
}

// footer

footer {

    // .footerNavItem {

    // }
    .footerList {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #DFF5F3 ;
        padding : 20px;
        border-top: 1px solid $darkBrown;
        cursor: pointer;
    }

    .region {
        justify-content: flex-start;
        gap : .5em;
    }

    h3,a {
        color : $darkBlue;
        font-family: $footerLink;
        font-weight: 900;
        font-size: 1.5em;
    }
    
    ion-icon {
        font-size: 2em;
        color : $darkBlue;
    }

    .hiddenNav {
        display: none;
    }

    .tabletFooterWrap {
        display: none;
    }
    
    .desktopFooter {
        display: none;
    }

    .bottomPart {
        background-color: #07403B;
        color : #5CC2BA;
        padding: 20px;

        .linkWrap {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            gap: 1em;
        }

        a {
            font-size: $paragraphs;
            color : #5CC2BA;

            &:hover {
                text-decoration: underline;
            }
        }

        img {
            width : 70px;
            height : 100px;
        }

        .socialMediaWrap {
            display: flex;
            align-items: center;
            gap : 20px;
        }
        
        .facebook,
        .twitter,
        .instagram,
        .youtube {
            padding : 8px;
            border-radius: 5px;
            cursor: pointer;
        }

        ion-icon {
            color : $white;
        }

        .facebook {
            background-color: #09B6EE;
        } 

        .instagram {
            background-color: #F9388D;
        } 

        .twitter {
            background-color: #09B6EE;
        }

        .youtube {
            background-color: #EC0E2C ;
        }
        
        p {
            margin-top: 1em;
            font-size: .7em;
            text-align: center;
        }
    }
}

.sticky {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding : 10px 0;
    position: sticky;
    bottom: 0;
    background-color: $white;
    gap : 10px;

    .sticky_item {
        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    ion-icon, p {
        color : $darkBrown;
    }

    p {
        max-width: 10ch;
        text-align: center;
        font-size: 1em;
        font-weight: bold;
    }

    .search {
        padding : 8px;
        border-radius: 50%;
        width : 60px;
        height : 60px;
        background-color: $red;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        bottom: 20px;

        ion-icon {
            color : $white;
            font-size: 3em;
        }
    }
}
