.primary {
    width : 100%;
    padding : 15px;
    background-color: $red;
    cursor: pointer;
    color : $white;
    border: none;
    font-family: $headerFont;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: .7em;
}

.slideShowItem {
    margin-right: 2em;

    img {
        width: 180px;
        height: 120px;
        border-radius: 10px;
    }

    p {
        margin-block: 1em .7em;
    }

    h2 {
        margin-bottom: .7em;
        font-size: 1.5em;
    }
}