// color
$red : #e60012;
$white : #ffffff;
$lightGray : #efefef;
$lightBlue : #d6f0fa;
$darkBlue : #0b2b6b;
$darkBrown : #434242;

// Typography 
$headerTwo : 2em;
$paragraphs : 1.1em;
$headerFont : 'Bree Serif';
$paragraphsFont : 'Open Sans';
$footerLink : 'Zen Old Mincho';